* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout */

body {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

main {
    width: 20em;
    margin: auto;
}

main section {
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
}

main section:last-child {
    margin: 0;
}

.controls {
    display: flex;
    gap: 0.5em;
    margin: 1em auto;
    flex-wrap: wrap;
    width: 14em;
}

/* Typografie */

@import url();

h1, h2 {
    color: #f8f8f8;
}

h1 {
    font-size: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

h1 img {
    width: auto;
    height: 2em;
}

/* Interactie */

a, button {
    cursor: pointer;
    border: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 0.25em;
    padding: 0.5em 0.8em;
    transition: 0.3s ease-in-out;
}

button:focus-visible {
    outline: none;
}

button svg {
    stroke: #fff;
}

/* game */

.dealer-cards, #your-cards {
    display: flex;
    align-items: center;    
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5em;
}

img {
    width: 6em;
    height: auto;
}

.controls {
    display: flex;
    gap: 0.5em;
    margin: 1em auto;
    padding: 0.5em;
    flex-wrap: wrap;
    width: 20em;
  }

.hit, .pass, .play-again {
    width: 100%;
    height: 4em;
    transition: 0.3s ease-in;
}

.pass {
    background-image: linear-gradient(90deg, rgb(233, 13, 42), rgb(241, 133, 155));
    color: white;
}

.hit {
    background-image: linear-gradient(90deg, rgb(81, 188, 81), rgb(129, 249, 131));
    color: white;
}

.play-again {
    background-image: linear-gradient(90deg, rgb(13, 97, 233), rgb(133, 165, 241));
    color: white;
}

.pass:hover, .pass:focus {
    background-image: linear-gradient(-90deg, rgb(231, 41, 67), rgb(250, 164, 181));
    color: white;
}

.hit:hover, .hit:focus {
    background-image: linear-gradient(-90deg, rgb(100, 186, 100), rgb(190, 250, 191));
    color: white;
}

.play-again:hover, .play-again:focus {
    background-image: linear-gradient(-90deg, rgb(59, 125, 231),rgb(174, 195, 242));
    color: white;
}

#results {
    height: 1em;
    color: #fff;
    text-align: center;
    margin: 1em auto;
}

section:nth-child(4) { /* Selecteer de 4e sectie (gesplitste hand) */
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
}

#split-sum {
    font-weight: bold;
}

#split-cards img {
    max-width: 80px;
    margin: 5px;
}

/* Media queries */

@media (min-width: 22.5em) {
    main {
        width: 22em;
        margin-top: 2em;
        background-image: linear-gradient(rgb(75, 111, 75), rgb(56, 89, 60));
        border: 2px solid rgb(173, 186, 173);
        border-radius: 0.5em;
    }

    .pass {
        width: 8em;
    }
    .hit {
        width: 8em;
    }
    .play-again {
        width: 10em;
    }

    .hit, .pass, .play-again {
        width: 100%;
        height: 4em;
    }
}

@media (min-width: 45em) {
    main {
        width: 40em;
        height: fit-content;
        margin: 2   em auto 2em;
    }

    .controls {
        width: fit-content;
    }

    .hit, .pass, .play-again {
        width: 10em;
        height: 3em;
    }
}